node_modules
.env
distgit 
registerVeterinary-controller.ts
registerUser-controller.ts
createAppointmentDto.ts
veterinaryDto.ts
UserDto.ts
generateHash.ts
registerUser-validator.ts
VerifyToken.ts
registerUser.ts
